// @import '../breakpoints.json';

$desktop: 996px;
$tablet: 768px;
$mobile: 767px;

@mixin breakpoint($point) {
    @if $point==desktop {
        @media (min-width: $desktop) {
            @content ;
        }
    }

    @else if $point==tabletold {
        @media (min-width: $tablet) and (max-width: 995px) {
            @content ;
        }
    }

    @else if $point==tablet {
        @media (min-width: $tablet) {
            @content ;
        }
    }

    @else if $point==mobileonly {
        @media (max-width: $mobile) {
            @content ;
        }
    }

    @else if $point==tabletmobile {
        @media (max-width: 995px) {
            @content ;
        }
    }
}