$color-white: #fff;

$color-qantas-red: #e40000;
$color-dark-red: #ba0000;
$color-focus-red: #870000;

$color-bay-blue: #8de2e0;
$color-informative-blue: #bff5f3;
$color-red-earth: #d20000;
$color-charcoal: #323232;
$color-sand: #f9f3e9;
$color-very-light-grey: #f5f5f5;
$color-ice-white: #F4F5F6;
$color-grey: #dadada;
$color-dark-grey: #7d7d7d;
$color-medium-dark-grey: #888;
$color-dark-grey-3: #666;
$color-ice-white: #f4f5f6;

$color-button-hover-red: $color-dark-red;
$color-button-clicked-red: $color-focus-red;
$color-border: #eeeeee;
$color-tick-green: #66aa4f;