$desktop-large-spacing: 90px;
$desktop-component-spacing: 60px;

$tablet-large-spacing: 70px;
$tablet-component-spacing: 40px;

$mobile-large-spacing: 60px;
$mobile-component-spacing: 40px;

$text-spacing: 20px;